{% extends "base.html" %}

{% block title %}recipe hub{% endblock %}

{% block content %}

      <div id="userbox">
	{% if user.is_authenticated %}
	  <a href="{{user.username}}">{{user.username}}</a>
	{% else %}
	  <a href="register.html">register</a>
	{% endif %}
      </div>
      <div id="title">recipe hub: social cooking</div>
      <div id="description">Follow recipes you love and the people who create them</div>
      <div id="feed">
	<div id="entry">
	  <div id="entry-title"><a href="tjulien">Tim</a> <span id="action">created</span> recipe <a href="tjulien/steak+fajitas">steak fajitas</a></div>
	  <div id="entry-description">tex-mex style with extra lime</div>
	</div>
        <div id="entry">
	  <div id="entry-title"><a href="fberger">Felix</a> <span id="action">clipped</span> recipe <a href="mario+batali/baked+ziti">mario batali/baked ziti</a></div>
	  <div id="entry-description">gooey mozerella with sweet italian sausage</div>
	</div>
	<div id="entry">
	  <div id="entry-title"><a href="aroscoe">Anthony</a> <span id="action">started following </span><a href="mbatali">Mario Batali</a></div>
	  <div id="entry-description">NYC restaurantauer with a passion for simple italian food</div>
	</div>
	<div id="entry">
	  <div id="entry-title"><a href="jherskowitz">Jason</a> <span id="action">started following </span><a href="mercadito">Ruby's</a></div>
	  <div id="entry-description">SOHO hole-in-the-wall serving fun Australian food</div>
	</div>
	<div id="entry">
	  <div id="entry-title"><a href="fooksy">David</a> <span id="action">cooked </span><a href="fooksy/pizza">pizza</a></div>
	  <div id="entry-participant"><a href="tjulien">Tim</a> <span id="action">ate</span> this. "Not as good as mine #planbetter"</div>
	</div>
      </div>
    </div>

{% endblock %}

